<header id="header">
	<span id="shadowh">
		|| HabitWall ||
	</span>
	<nav id="hnav">
		<%= link_to 'About', about_path, {:class=>"glow"} %>
		<%= link_to 'Contact', contact_path, {:class=>"glow"} %>
		<%= link_to 'Home', root_path, {:class=>"glow"} %>
	</nav>
</header>
